$background: white;
$background-header: #fbdf5d;
$background-footer: #333333;
$color-header: black;
$color-footer: #ffffff;
$color: rgb(0,0,0);
$font-size: 16px;
$lato: "Lato", sans-serif;
$openSans: "Open Sans", sans-serif;
$merriweather: "Merriweather", serif;

// Starting breakpoints - use more as needed in component and page files
$mobile: 320px;
$mobileLandscape: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;