$background: white;
$background-header: #fbdf5d;
$background-footer: #333333;
$color-header: black;
$color-footer: #ffffff;
$color: rgb(0,0,0);
$font-size: 16px;
$lato: "Lato", sans-serif;
$openSans: "Open Sans", sans-serif;
$merriweather: "Merriweather", serif;