@charset "UTF-8";

/*------------------------------------*\
STYLES.CSS
\*------------------------------------*/

/**
 * Base
 */
@import "normalize";
@import "vars";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:300,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/**
 * Components
 */
 @import "footer";
 @import "promo";
 @import "topic";
 @import "about";


body {
  background-color: $background;
  color: $color;
  margin: 0;
  padding: 0;
  font-size: $font-size;
}
a {
  text-decoration: none;
}
.mobileNav {
  display: block;

  @include respond-to($tablet) {
    display: none;
  }  
}
.navigation {
  font-family: $lato;
  font-weight: 900;
  background: $brand-yellow;
  color: $color-header;
 

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;

    li {
      display: none;
      width: 160px;
      justify-content: center;
      text-transform: uppercase;
      padding: 65px 0;
      font-size: 0.75em;
      letter-spacing: 0.0625em;

      a {
        color: $color;
      }

      @include respond-to($tablet) {
        display: inline-flex;
      }

      &.logo {
        width: 320px;
        padding: 37px 0;
        display: flex;

        @include respond-to($tablet) {
          display: inline-flex;
        }
      }
    }
  }
}
.greeting__container {
  width: 77.5%;
  margin: 0 auto;
  font-family: $openSans;
  font-weight: 300;
  font-size: 30px;
  padding: 20px 0 20px 0;
  max-width: 930px;

  @include respond-to($tablet) {
    font-size: 40px;
    padding: 50px 0 30px 0;
  }

  span {
    font-weight: 800;
  }
  &--copy {
    font-family: $merriweather;
    font-size: 12px;
    color: #e71a4a;

    @include respond-to($tablet) {
      font-size: 16px;
    }
  }
}
.content {
  
  &__container {
    display: flex;
    width: 77.5%;
    margin: 0 auto;
    max-width: 930px;
    flex-direction: column;
    @include respond-to($desktop) {
      flex-direction: row;
      padding-top: 30px;
    }
  }
  @include respond-to($desktop) {
    &__container {
      flex-direction: row;
    }
  }
  &__left {
    width: 100%;
    @include respond-to($desktop) {
      width: 59%;
    }
    
  }
  &__right {
    width: 100%;
    @include respond-to($desktop) {
      width: 41%;
    }
  }
}

.home__promo .promo3 {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}