@charset "UTF-8";

/*------------------------------------*\
STYLES.CSS
\*------------------------------------*/

/**
 * Base
 */
@import "normalize";
@import "vars";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:300,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/**
 * Components
 */
 @import "footer";
 @import "promo";
 @import "topic";

body {
  background-color: $background;
  color: $color;
  margin: 0;
  padding: 0,
  
}
.navigation {
  font-family: $lato;
  font-weight: 900;
  background: $background-header;
  color: $color-header;
 

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;

    li {
      display: inline-flex;
      width: 160px;
      justify-content: center;
      text-transform: uppercase;
      padding: 65px 0;
      font-size: 0.75em;
      letter-spacing: 0.0625em;

      &.logo {
        background: url('../images/logo_black_large.png') no-repeat 80px 40px;
        color: transparent;
        width: 320px;
      }
    }
  }
}
.greeting {
  width: 77.5%;
  margin: 0 auto;
  font-family: $openSans;
  font-weight: 300;
  font-size: 30px;
  padding: 20px 0 20px 0;
  max-width: 930px;

  @include respond-to($tablet) {
    font-size: 40px;
    padding: 50px 0 60px 0;
  }

  span {
    font-weight: 800;
  }
  &__container--copy {
    font-family: $merriweather;
    font-size: 12px;
    color: #e71a4a;

    @include respond-to($tablet) {
      font-size: 16px;
    }
  }
}
.content {
  
  &__container {
    display: flex;
    width: 77.5%;
    margin: 0 auto;
    max-width: 930px;
    flex-direction: column;
    @include respond-to($desktop) {
      flex-direction: row;
    }
  }
  @include respond-to($desktop) {
    &__container {
      flex-direction: row;
    }
  }
  &__left {
    width: 100%;
    @include respond-to($desktop) {
      width: 59%;
    }
    
  }
  &__right {
    width: 100%;
    @include respond-to($desktop) {
      width: 41%;
    }
  }
}

.talkbubble {
  width: 120px;
  height: 80px;
  background: #fade67;
  position: relative;
}
.talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #fade67;
  border-bottom: 13px solid transparent;
}

.breadcrumb {
  font-family: $openSans;
  font-weight: 800;
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;

  span {
    color: #fade67;
  }
}
.about {
  
  &__info {
    color: #222222;

    &--title {
      font-family: $openSans;
      font-weight: 800;
      font-size: 40px;
      text-transform: uppercase;
    }
    &--copy {
      font-family: $merriweather;
      font-size: 16px;
    }
  }

  &__promo {
    .promo1, .promo2 {
      display: none;
    }
  }
}
.home__promo .promo3 {
  display: none;
}